button {
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    opacity: 0.8;
  }
}

.c-btn {
  &-fixed {
    //SP 画面下固定/PC 画面右固定
    position: fixed;
    top: auto;
    left: 50%;
    bottom: 0;
    color: $site-color02;
    cursor: pointer;
    z-index: 99;
    @include max(500) {
      border: 1px solid $site-color02;
      box-shadow: 0 2px 4px $main-color--b;
      transform: translateX(-50%);
    }
    @include min(500) {
      top: 25%;
      left: auto;
      bottom: auto;
      right: 25px;
      border: 1px solid $site-color02;
      box-shadow: 0 2px 4px $site-color02;
    }
    .c-btn-lists {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      @include min(500) {
        flex-wrap: wrap;
        flex-direction: column;
      }
      li {
        position: relative;
        width: 50vw;
        @include max(500) {
          &:first-child a {
            color: $main-color--w;
            background: $site-color01;
          }
          &:nth-child(2) a {
            color: $main-color--w;
            background: $site-color02;
          }
        }
        @include min(500) {
          width: auto;
          writing-mode: vertical-rl;
        }
        &:first-child {
          @include max(500) {
            border-right: 1px solid $site-color01;
          }
          @include min(500) {
            border-bottom: 1px solid $site-color01;
          }
        }
        a {
          width: 100%;
          padding: 6% 0;
          background: $main-color--w;
          @include min(500) {
            width: auto;
            padding: 30px 10%;
          }
          &:hover {
            background: $site-color02;
            color: $main-color--w !important;
          }
        }
      }
    }
  }
  &-top {
    position: fixed;
    bottom: 19px;
    right: 19px;
    width: 4rem;
    height: 4rem;
    line-height: 3.5rem;
    background: white;
    border: 1px solid $main-color--b;
    box-shadow: 2px 3px 5px 0px #3b3b3b54;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 99;
    @include min(500) {
      bottom: 55px;
      right: 55px;
    }
    &:hover {
      color: $main-color--w;
      background: $site-color01;
      border-radius: 5px;
    }
  }
  &-contact {
    position: fixed;
    bottom: 0%;
    left: 0%;

    display: inline-table;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 99;
    @include min(500) {
      top: 50%;
      left: auto;
      right: 3%;
      width: 6rem;
      box-shadow: 2px 3px 5px 0px #3b3b3b54;
      border-radius: 10px;
      .imgBox {
        transform: scale(1);
        transition: all 0.5s;
      }
      &:hover {
        .imgBox {
          transform: scale(1.05);
        }
      }
    }
  }
  &-thanks {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1% 5% 1.5%;
    margin: 0 auto;
    border: 1px solid $site-color02;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 0px #777777;
    transition: all 0.1s;
    &:hover {
      padding: 1.5% 6% 2%;
    }
  }
}

/*    Link
--------------------------------------------------------------------------------*/

a {
  transition: 0.3s;
  color: $main-color--b;
  // text-decoration: underline;
}
// a:link {   color: $site-color01; text-decoration: underline;}
// a:visited {color: $site-color01; text-decoration: none;}
// a:hover {  color: $site-color01; text-decoration: none;transition: .3s;opacity: .8;}
// a:active { color: $site-color01; text-decoration: none;}
