
// フォーム内容
.c-form{
    width: 100%;
    border-collapse: collapse;

    // 固定ページ
    &.-page{
        .c-form--inner{
            max-width: 1000px;
            margin: 0 auto;
        }
        .required{// 必須
            position: relative;
            &::after{
                content: "必須";
                position: absolute;
                top: 50%;
                right: 25px;
                transform: translateY(-50%);

                font-size: 1.1rem;
                color: $main-color--w;
                background: $main-color--red;
                padding: 3px 5px 3px;
                border-radius: 3px;
                @include min(500){
                    right: 15px;
                    padding: 4px 6px 3px;
                }
            }
        }
        table{
            th,td{
                border-top: 1px solid #d7d7d7;
                border-bottom: 1px solid #d7d7d7;
                padding: 20px;
                @include max(500){
                    display: block;
                    width: 100%;
                    border: none;
                }
            }
            th{
                width: 250px;
                position: relative;
                text-align: left;
                padding: 20px 15px;
                @include min(500){padding: 15px;}
                
                @include max(500){
                    width: 100%;
                    background-image: linear-gradient(45deg, #e4ebf445, #e4ebf480);
                }
    
            }
            td{
                padding: 20px 5px;
                @include min(500){padding: 15px;}
                
                input[type="submit"],
                input[type="text"],
                select,textarea,button {
                    box-shadow: none;
                    outline: none;
                    border: none;
                }
                input[type="text"],
                select,
                textarea {
                    display: block;
                    width: 480px;
                    background: #f8f8f8;
                    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
                    padding: 12px 15px;
                    border: 1px solid #f8f8f8;
                    border-radius: 5px !important;
                    transition: all .5s;
                    border-radius: 0;
                    &:focus{
                        background: #e9f5fb;
                        border: 1px solid $main-color--gray;
                    }
                    &::placeholder{
                        color: #ccc;
                    }
                    @include max(500){
                        &#purpose,
                        &#company,
                        &#name,
                        &#email,
                        &#phone,
                        &#message{
                            width: 100% !important;
                        }
                    }
                    @include min(500){
                        &#purpose{// 目的
                            width: 65%;
                            max-width: 190px;
                        }
                        &#company{// 会社名
                            width: 75%;
                            max-width: 300px;
                        }
                        &#name{// ご担当者名
                            width: 55%;
                            max-width: 180px;
                        }
                        &#email{// メールアドレス
                            width: 80%;
                            max-width: 300px;
                        }
                        &#phone{// 電話番号
                            width: 45%;
                            max-width: 150px;
                        }
                        &#message{// お問い合わせ内容
                            resize: none;
                            width: 100%;
                            height: 300px;
                        }
                    }
                    &#submit{// ボタン
                        width: 100%;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
        input{
            vertical-align: middle;
            &[type="checkbox"] {
                display: none;
                +label{
                    position: relative;
                    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
                    font-weight: bold;
                    color: $main-color--b;
                    // padding-left: 30px;
                    cursor: pointer;
                    span{
                        &::after{
                            content: "" !important;
                            position: absolute;
                            top: 30%;
                            left: -21px;
                            display: block;
                            width: 10px;
                            height: 7px;
                            border-bottom: 3px solid $main-color--red;
                            border-left:   3px solid $main-color--red;
                            transform: rotate(-45deg) translateY(-50%);
                            transition: all .1s;
                            opacity: 0;
                            @include max(500){
                                left: -16px;
                                width: 8px;
                                height: 5px;
                            }
                        }
                    }
                    @include min(500){
                        // padding-left: 36px;
                        // padding-right: 60px;
                    }
    
                    &::before{// cheakbox
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -20px;
    
                        display: block;
                        width:  10px;
                        height: 10px;
    
                        background-color: $main-color--w;
                        border: 1px solid $site-color02;
                        border-radius: 2px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        @include min(500){
                            left: -25px;
                        }
                    }
                    &.required{// 必須
                        position: relative;
                        &::after{
                            content: "必須";
                            position: absolute;
                            top: 50%;
                            right: -40px;
                            transform: translateY(-50%);
                
                            font-size: 1.1rem;
                            color: $main-color--w;
                            background: $main-color--red;
                            padding: 3px 5px 3px;
                            border-radius: 3px;
                            @include min(500){
                                right: -45px;
                                padding: 4px 6px 3px;
                            }
                        }
                    }
                }
            }
            &[type=checkbox]:checked{
                +label{
                    span{
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    // サイドバー
    &.-sideber{

        .required{// ＊
            span{
                position: relative;
                &::after{
                    content: "*";
                    position: absolute;
                    top: -5px;
                    right: -13px;
                    font-size: 1.3rem;
                    color: $main-color--red;
                    padding: 4px 6px 3px;
                }
            }
        }
        table{
            th,td{
                display: block;
                width: 100%;
                border: none;
            }
            th{
                width: 100%;
                background-image: linear-gradient(325deg, #e4ebf445, #e4ebf480);
                font-size: clamp(1.4rem, 1.5vw, 1.6rem);
                text-align: left;
                letter-spacing: .2rem;
                padding: 10px 6px 5px;
            }
            td{
                font-size: clamp(1.2rem, 1.5vw, 1.4rem);
                letter-spacing: .1rem;
                padding: 10px 0 10px 0;
                input[type="text"],
                select,
                textarea {
                    display: block;
                    background: #f8f8f8;
                    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
                    padding: 10px 15px;
                    border: 1px solid #f8f8f8;
                    border-radius: 5px !important;
                    transition: all .5s;
                    border-radius: 0;
                    &:focus{
                        background: #e9f5fb;
                        border: 1px solid $main-color--gray;
                    }
                    &::placeholder{
                        color: #ccc;
                    }
                    &#purpose,
                    &#company,
                    &#name,
                    &#email,
                    &#phone,
                    &#message{
                        width: 100% !important;
                    }
                    &#message{// お問い合わせ内容
                        resize: none;
                        width: 100%;
                        height: 150px;
                    }

                    &#submit{// ボタン
                        width: 100%;
                        padding: 0;
                        border: none;
                    }
                }
                p{padding-left: 5% !important;}
            }
        }
        // 個人情報の取り扱いについて
        .pITitle{
            margin-bottom: 3% !important;
        }
        .pIText{
            font-size: 1.2rem;
            margin-bottom: 3% !important;
        }
        .c-form{
            &--privacyPolicy{
                width: 100%;
                height: 200px;

                margin: 0 auto 24px;
                padding: 5%;
                border: 1px solid #ccc;
                border-radius: 5px;

                overflow-x: hidden;
                overflow-y: scroll;
                @include min(500){padding: 15px 20px;}

                h3{
                    position: relative;
                    font-size: 1.5rem;
                    margin: 2px 0 10px;
                    padding: 4px 0 6px 24px;
                    border-bottom: 2px solid $main-color--red;
                    font-weight: bold;
                    &::before{
                        content: url(/images/item/form-icon.png);
                        position: absolute;
                        left: 0;
                        top: 6px;
                    }
                }
                h4,p,a,span{
                    font-size: clamp(1rem, 1.5vw, 1.2rem);
                    letter-spacing: .2rem;
                    line-height: 1.5;
                }
                span{display: block;}
                a{
                    color: $site-color02;
                    text-decoration: underline;
                    cursor: pointer;
                }
                &__detail{
                    margin-bottom: 3rem;
                }
            }
        }
        input{
            vertical-align: middle;
            &[type="checkbox"] {
                display: none;
                +label{
                    position: relative;
                    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
                    font-weight: bold;
                    color: $main-color--b;
                    // padding-left: 30px;
                    cursor: pointer;
                    span{
                        &::after{
                            content: "" !important;
                            position: absolute;
                            top: 30%;
                            left: -21px;
                            display: block;
                            width: 0px;
                            height: 0px;
                            border-bottom: 2px solid $main-color--red;
                            border-left:   2px solid $main-color--red;
                            transform: rotate(-45deg) translateY(-50%);
                            transition: all .1s;
                            opacity: 0;
                            @include max(500){
                                top: 25%;
                                left: -17px;
                            }
                        }
                    }
                    &::before{// cheakbox
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -20px;
    
                        display: block;
                        width:  10px;
                        height: 10px;
    
                        background-color: $main-color--w;
                        border: 1px solid $site-color02;
                        border-radius: 2px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        @include min(500){
                            left: -25px;
                        }
                    }
                    &.required{// 必須
                        position: relative;
                        &::after{
                            content: "必須";
                            position: absolute;
                            top: 50%;
                            right: -40px;
                            transform: translateY(-50%);
                
                            font-size: 1.1rem;
                            color: $main-color--w;
                            background: $main-color--red;
                            padding: 3px 5px 3px;
                            border-radius: 3px;
                            @include min(500){
                                right: -45px;
                                padding: 4px 6px 3px;
                            }
                        }
                    }
                }
            }
            &[type=checkbox]:checked{
                +label{
                    span{
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // 個人情報の取り扱いについて
    &--privacyPolicy{
        width: 100%;
        height: 300px;

        margin: 0 auto 24px;
        padding: 5%;
        border: 1px solid #ccc;
        border-radius: 5px;

        overflow-x: hidden;
        overflow-y: scroll;
        @include min(500){padding: 28px 44px 28px 31px;}

        h3{
            position: relative;
            margin: 2px 0 24px;
            padding: 4px 0 6px 24px;
            border-bottom: 2px solid $main-color--red;

            font-size: 18px;
            font-weight: bold;
            &::before{
                content: url(/images/item/form-icon.png);
                position: absolute;
                left: 0;
                top: 6px;
            }
        }
        p,span{
            font-size: clamp(1rem, 1.2vw, 1.5rem);
            letter-spacing: .2rem;
            line-height: 1.5;
        }
        span{display: block;}
        a{
            color: $site-color02;
            text-decoration: underline;
            cursor: pointer;
        }
        &__detail{
            margin-bottom: 3rem;
            h4{
                font-size: clamp(1.6rem, 1.5vw, 2rem);
                font-weight: bold;
                letter-spacing: .2rem;
                margin-bottom: 1rem;
            }

        }
    }
    // 同意
    &--consent{
        #error{
            display: none;
            font-size: clamp(1rem, 1.2vw, 1.5rem);
            color: $main-color--red;
            text-align: center;
            letter-spacing: .2rem;
            line-height: 1.5;

        }
        .policyBox{
            font-size: 1rem;
            text-align: center;
            letter-spacing: .2rem;
            background-image: linear-gradient(45deg, #e4ebf445, #e4ebf480);
            padding: 16px 0;
            margin-bottom: 10px;
            @include min(500){
                margin-bottom: 15px;
            }
        }
        p{
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            text-align: center;
        }
    }


    // ボタン
    &--btn{
        text-align: center;
        button{
            font-size: clamp(1.2rem, 1.5vw, 1.6rem);
            color: $main-color--w;
            font-weight: bold;
            letter-spacing: .2rem;
            background: $site-color02;
            padding: 15px 30px;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            opacity: 1;
            // 非活性時のスタイル
            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }


}


