// ナビゲーション（nav）

// ヘッダー > ナビゲーション
.c-hnav{
	// ヘッダー > ナビゲーション関係
	&-lists{// ul
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		.hnavItem{
			width: auto;
			a{
				display: inline-block;
				white-space: nowrap;
			}
			&.archiveItem{
				position: relative;
				&:hover{
					.c-hnav--dropdown{
						transform: translateY(0);
						pointer-events: auto;
						opacity: 1;
	
					}
				}
			}
		}
	}
	// ドロップダウンメニュー
	&--dropdown{
		position: absolute;
		top: 105%;

		width: auto;
		height: auto;
		background: $main-color--w;
		border: 1px solid $main-color--b;

		padding: 15px 20px 10px 19px;
		border-radius: 5px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

		pointer-events: none;
		will-change: transform;
		opacity: 0;
		transform: translateY(-10px);
		transition: opacity 0.3s ease, transform 0.3s ease;

	}
	// ドロップダウンリスト > 一覧ページ
	&--archiveLists{// ul
		.archiveItem{ // li
			margin-bottom: 10px;
			a{
				position: relative;
				display: block;
				&::before{
					content: "";
					width: 0;
					height: 1px;
					background: $main-color--w;
					border-radius: 5px;
		
					position: absolute;
					bottom: -2px;
					left: 50%;
					transform: translateX(-50%);
					opacity: 0;
					will-change: transform;
					transition: all .5s;
				}
				&:hover{
					color: $site-color03;
					&::before{
						width: 90%;
						background: $site-color03;
						opacity: 1;
					}
				}
			}
		}
	}
	// aタグ
	&--link{
		position: relative;
		&::before{
			content: "";
			width: 0;
			height: 1px;
			background: $main-color--w;
			border-radius: 5px;

			position: absolute;
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			will-change: transform;
			transition: all .5s;
		}
		&:hover,
		&.-active{
			color: $site-color03;
			&::before{
				width: 90%;
				background: $site-color03;
				opacity: 1;
			}
		}
		&.-archive{
			padding: 8px 20px 8px 0;
			&::before{display: none;}
			&::after{
				content: "";
				width: 10px;
				height: 7px;
				position: absolute;
				top: 50%;
				right: 2%;
				transform: translateY(-50%);
				background: $main-color--b;
				clip-path: polygon(0 0, 50% 100%, 100% 0);
				will-change: transform;
				transition: all .5s;
			}
			&:hover,
			&.-active{
				&::after{
					background: $site-color03;
				}
			}
		}
	}
}
.c-navAreaBox{
	width: 100%;
	height: 50px;
	// border-radius: 15px;
	will-change: transform;
	transition: all .5s;
	overflow: visible;

	.c-navlists{
		display: flex;
		flex-wrap: nowrap;
		justify-content: end;

        .navItem{
            &.-pageLink{// ページ内リンク
				@include min(500) {width: 49%;}
				@include min(1000){
					max-width: 360px;
				}
            }
			&.-cvBtn{// cvボタン
				width: auto;
				border-radius: 30px;
				margin-left: 20px;
				will-change: transform;
				transition: all .3s;
				a{
					position: relative;
					display: inline-block;
					margin: 0 auto;
					padding: 1rem 4.5rem 1rem 1.5rem;
					text-align: center;
					svg{
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 10%;
						width:  25px;
						height: 25px;
						path,rect{
							fill: $main-color--w;
							will-change: transform;
							transition: all .3;
						}
					}
				}
				&.-cv01{// cvボタン01
					background: $site-color02;
					border: 1px solid $site-color02;
					&:hover{
						background: $main-color--w;
						a{
							color: $site-color02 !important;
							path,rect{fill: $site-color02;}
						}
					}
				}
				&.-cv02{// cvボタン02
					@include min(500){
						background: $main-color--red;
						border: 1px solid $main-color--red;
						margin-left: 2%;
						&:hover{
							background: $main-color--w;
							a{
								color: $main-color--red !important;
								path,rect{fill: $main-color--red;}
							}
						}
					}
				}
			}
        }
	}
}

// ハンバーガーメニュー
.c-hb-nav{
	position: fixed;
    top:  1.2%;
    left: 85%;
	width:  50px;
	height: 50px;
	// background: $site-color03;
	border-radius: 50%;
	z-index: 9999;
	&__cheakbox{
		display: none;
		&:checked ~ .c-hb-nav__close{
			width: 100%;
			height: 100%;
			background: $main-color--b;
			opacity: 0.5;
		}
		&:checked ~ .c-hb-nav__content{
			transform: translateX(0%);
			box-shadow: -5px 0px 11px rgba(0, 0, 0, 0.15);
			.hbNavItem{
				animation-name:fadeRightAnime;
				animation-fill-mode: forwards;
		
				&:nth-child(1){
					animation-duration:0.5s;
				}
				&:nth-child(2){
					animation-duration:0.5s;
					animation-delay:.1s;
				}
				&:nth-child(3){
					animation-duration:0.5s;
					animation-delay:.2s;
				}
				&:nth-child(4){
					animation-duration:0.5s;
					animation-delay:.3s;
				}
				&:nth-child(5){
					animation-duration:0.5s;
					animation-delay:.4s;
				}
				&:nth-child(6){
					animation-duration:0.5s;
					animation-delay:.5s;
				}
			}
		}
		&:checked ~ .c-hb-nav__button{
			span {
				color: $main-color--w !important;
				text-shadow: none;
				padding-top: 5px;
				&::before,
				&::after{
					background: $main-color--w !important;
					box-shadow: none;
				}

				&::before {
					top: 2.5px;
					left: 42%;
					width: 25px;
					height: 3px;
					transform: rotate(43deg) translate(-50%, -50%);
				}
				&::after  {
					top: -15px;
					left: 43%;
					width: 25px;
					height: 3px;
					transform: rotate(-43deg) translate(-50%, -50%);
				}
			}
		}
	}
	&__button{
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		vertical-align: middle;
		cursor:pointer;
		z-index: 9999;
		@include min(768){width: 100%;}

		span{
			position: relative;
			top: 59%;
			display: block;
			color: $site-color03 !important;
			text-shadow: 1px 1px 1px $main-color--w;
			width: 100%;
			padding-top: 1px;
			transition: all .1s;

			&::before,
			&::after{
				content: "";
				display: block;
				position: absolute;
				height: 2px;
				width: 50px;
				border-radius: 3px;
				// background: $main-color--w;
				background: $site-color03;
				box-shadow: 1px 1px 1px $main-color--w;
				cursor: pointer;
				will-change: transform;
				transition: all .1s;
				@include min(768){width: 100%;}
			}
			&::before{
				top: -15px;
				left: 50%;
				transform: translateX(-50%);
				width: 30px;
			}
			&::after {
				top: -6px;
				left: 50%;
				transform: translateX(-50%);
				width: 30px;
			}
		}
		p{
			position: absolute;
			bottom: -72%;
			left: 50%;
			transform: translateX(-50%);
			filter: drop-shadow(0px 0px .5px $main-color--w);
			@include min(768){
				bottom: -100%;
				filter: drop-shadow(0px 0px 2px $main-color--w);
			}
		}
	}
	&__close {
		display: block;

		position: fixed;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 100%;
		background: inherit;
		opacity: 0;
		pointer-events: none;
		transition: all .5s;
		z-index: 99;

	}
	&__content{
		overflow: auto;
		position: fixed;
		top: 0;
		right: 0;

		/* ハンバーガーメニュー内の幅 */
		width: 90%;
		height: 100%;
		padding: 10% 10% 0 10%;
		background: $site-color03;
		/* 滑らかに表示 */
		transition: 0.2s ease-in-out;
		transform: translateX(100%);
		z-index: 9998;
		&::before{
			content: "© 2016-2024 株式会社インプレーム All rights reserved.";
			position: absolute;
			bottom: 20%;
			right: -40%;
			color: $main-color--w;
			font-size: 1.2rem;
			font-weight: bold;
			transform:rotate(270deg);
		}
	}
	&__lists{
		.hbNavItem{
			margin-bottom: 16.5px;
			will-change: transform;
			transition: .5s all;
			opacity: 0;

			a, label{
				display: block;
				position: relative;
				transition: .5s all;
				span{transition: .5s all;}
				&.-active{
					span{
						color: $main-color--yellow !important;
						font-weight: bold;
					}
				}
			}
		}
	}
	&__contactArea{
		position: relative;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		height: 100px;
		margin: auto;
		border: 1px solid $main-color--b;
		@include min(768){
			top: 47%;
			height: 105px;
		}
		@include min(1400){
			height: 110px;
		}
		.c-hb-nav__top{
			grid-column: 1/3;
			grid-row: 1/2;
			transition: .5s all;
			&:hover{
				background: $site-color02;
				span{color: $main-color--w;}
			}
		}
		.c-hb-nav__bottom{
			display: block;
			grid-column: 1/3;
			grid-row: 2/3;
			transition: .5s all;
			&:hover{
				background: $site-color01;
				span{color: $main-color--w;}
			}
		}
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 1px;
			width: 98%;
			background: $main-color--b;
		}
		// SOLD OUT時に使用する
		&.-grayOutItem{
			pointer-events: none;
		}
	}
	&__logo{
		position: absolute;
		bottom: 0%;
		left: 73%;
		transform: translateX(-50%);
		width: 30%;
	}
	&__icon{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 11%;
	}
}

// フッターナビゲーション
.c-fnav{
	// ナビゲーション関係
	.navItem{
		width: auto;
		margin: 0 15px 2px 0;
		@include min(768){margin: 0 5px 1px 0;}
		
	}
	&--link{
		position: relative;
		&::before{
			content: "";
			width: 0;
			height: 1px;
			background: $main-color--w;
			border-radius: 5px;

			position: absolute;
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			will-change: transform;
			transition: all .5s;
		}
		&:hover{
			color: $main-color--yellow !important;
			&::before{
				width: 90%;
				background: $main-color--yellow;
				opacity: 1;
			}
		}

	}
}
