// 投稿関係

.c-post{
    // 記事 > リスト
    &--lists{// ul

    }
    &--item{// li
        @include min(768){
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(7){// 1列目
                margin-right: 1%;
            }
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(8){// 2列目
                margin-left: .5%;
                margin-right: .5%;
            }
            &:nth-child(3),
            &:nth-child(6),
            &:nth-child(9){// 3列目
                margin-left: 1%;
            }
        }

    }
    &--link{
        position: relative;
        top: 0;
        display: block;
        will-change: transform;
        transition: all .3s;
        .imgBox,
        .c-thumbnail{
            border-radius: 4px;
            &--picter,
            &--title,
            &--subTitle,
            &--cover,
            &--cover__text{
                will-change: transform;
                transition: all .3s;
            }
        }
        &:hover{
            top: .5rem;
            .imgBox               {transform: scale(1.005);}
            .c-thumbnail--picter  {transform: translate(-50%, -50%) scale(.98);}
            .c-thumbnail--cover   {
                opacity: 1;
                z-index: 2;
            }
            .c-thumbnail--cover__text   {opacity: 1;}
        }
    }
    &--title{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    // 記事 > カテゴリー
    &--category{
        &__lists{// ul
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        &__item{ // li
            width: auto;
            padding: 3px 5px 2px;
            margin-right: 5px;
            background: $main-color--w;
            border: 1px solid $site-color03;
            border-radius: 3px;
            p{
                color: $site-color03;
                font-size: clamp(.8rem, 1.2vw, 1rem);
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
}
