// サムネイル関係

.c-thumbnail{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    @include min(500){border-radius: 10px;}

    .imgBox{
        width: 100%;
        height: auto;
        img{aspect-ratio: 16 / 9;}
    }
    // 共通
    &--mark{// 画像左上
        position: absolute;
        top: 5%;
        left: 5%;
        width: 50%;
        z-index: 1;
        @include min(500){width: 45%;}
        @include min(768){width: 50%;}
        @include min(1000){width: 42%;}
        @include min(1400){width: 45%;}
        @include min(1600){width: 35%;}
    }
    &--picter{// 人の写真
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 99%;
        height: 99%;
        z-index: -1;
    }
    &--cover{// 半透明背景
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        z-index: auto;
        opacity: .2;
        &__text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $main-color--w;
            font-size: 1.6rem;
            font-weight: bold;
            letter-spacing: .2rem;
            opacity: 0;
        }
    }
    &--title,
    &--subTitle{// タイトル
        position: absolute;
        font-family: $f-gothic01;
        line-height: 1.5;
        padding: 2px 4px;
        background-image: linear-gradient(-45deg, hsla(0, 0%, 100%, .9), hsla(0, 0%, 100%, .3));
        word-break: auto-phrase;
        z-index: 1;
    }
    &--title{// タイトル
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    &.-interview{
        .c-thumbnail{
            &--title{
                top: 38%;
                left: 5%;
                @include min(500){top: 40%;}
                @include min(768){top: 45%;}
                @include min(1000){top: 43%;}
                @include min(1400){top: 40%;}
            }
            &--subTitle{
                top: 25%;
                left: 5%;

                @include min(500){top: 28%;}
                @include min(768){top: 25%;}
                @include min(1000){top: 25%;}
            }
        }
    }
    &.-news{
        .c-thumbnail{
            &--title{
                top: 45%;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                text-align: center;
            }
            &--subTitle{
                top: 35%;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
            }
            &--picter{
                top: 43%;
            }
        }
    }
}