
// コンテンツ_メインタイトル
.c-contents--title{// s-L相当
    position: relative;
    font-size: clamp(2rem, 2vw, 4.2rem);
    font-weight: bold;
    letter-spacing: .2rem;
    text-align: center;
    padding: 0 1px;
    &::before{
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        letter-spacing: .3rem;
    }
    // コンテンツタイトル > ボーダーライン
    &.-b-btm{
        &::after{// 基本設定
            content: "";
            display: block;
            position: relative;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 40px;
            max-width: 1100px;
            height: 0;
            background: $main-color--w;
            border-bottom: 3px dotted $site-color03;
            @include min(768){
                bottom: -20px;
            }
        }
        // 色指定
        &.-c01{&::after{background: $site-color01 !important;}}
        &.-c02{&::after{background: $site-color02 !important;}}
        &.-c03{&::after{background: $site-color03 !important;}}
        &.-c04{&::after{background: $site-color04 !important;}}
    }

    // コンテンツタイトル > 英語表記 > カラー設定
    &.-en-color01{&::before{color: $site-color01;}}
    &.-en-color02{&::before{color: $site-color02;}}
    &.-en-color03{&::before{color: $site-color03;}}
    &.-en-color04{&::before{color: $site-color04;}}

    // コンテンツタイトル > 英語表記
    &.-interview{&::before{content: "User Interview"; white-space: nowrap;}}// インタビュー
    &.-news     {&::before{content: "Information"; white-space: nowrap;}}//お役立ち情報
    &.-contact  {&::before{content: "Contact"; white-space: nowrap;}}//お問い合わせ
    &.-contact02{&::before{content: "Request For Information"; white-space: nowrap;}}//資料ダウンロード
    &.-point    {&::before{content: "POINT"; white-space: nowrap;}}//特徴

    // 画像
    .imgBox{
        width: 40%;
        margin: 0 auto;
        @include min(500){
            width: 20%;
            min-width: 160px;
            max-width: 220px;
        }
    }
    span{font-size: clamp(1.2rem, 1.5vw, 1.6rem);}
}

.c-contents--description{
    text-align: center;
    letter-spacing: .2rem;
    line-height: 2;
}

// 各ページ > ファーストビュー内のタイトル
.c-page-title{
    display: inline-block;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include min(500){top: 55%;}
    &::before{
        
        position: absolute;
        bottom: -55%;
        left: 50%;
        transform: translateX(-50%);
        color: $site-color03;
        font-size: 1rem;
        letter-spacing: .3rem;
        white-space: nowrap;
        @include min(500){
            bottom: -55%;
        }

    }
    &.-service    {&::before{content: "- FEATURE -";}}
    &.-interview  {&::before{content: "- USER INTERVIEW -";}}
    &.-information{&::before{content: "- INFORMATION -";}}
    &.-member     {&::before{content: "- MEMBER -";}}
    &.-contact    {&::before{content: "- CONTACT -";}}
    &.-contact02  {&::before{content: "- REQUEST FOR INFORMATION -"; white-space: nowrap;}}
    &.-notFound   {&::before{content: "- 404 NOT FOUND -"; white-space: nowrap;}}//エラーページ

    &.-privacyPolicy{&::before{content: "- PRIVACY POLICY -"; white-space: nowrap;}}// プライバシーポリシー
}

// サービスページ > サービス内容内のタイトル
.c-service--title{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 15px;
        height: 2px;
        border-bottom: 2px dotted $site-color03;
        @include min(768){width: 30px;}
    }
}

// 投稿アイテム内のタイトル
.c-post--title{
    font-size: clamp(2.2rem, 2vw, 2.5rem);
    font-weight: bold;
    text-align: center;
    padding: 0 1px;
}

// サイドバー > タイトル
.c-sideber--title{// s-L相当
    position: relative;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    font-weight: bold;
    letter-spacing: .2rem;
    text-align: center;
    padding: 0 1px;
    &::before{
        position: absolute;
        top: -40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        letter-spacing: .3rem;
    }
    // コンテンツタイトル > ボーダーライン
    &.-b-btm{
        &::after{// 基本設定
            content: "";
            display: block;
            position: relative;
            bottom: -10px;
            left: 49.5%;
            transform: translateX(-50%);
            width: 30px;
            max-width: 1100px;
            height: 0;
            background: #ffffff;
            border-bottom: 2px dotted rgb(110, 133, 166);
        }
        // 色指定
        &.-c01{&::after{background: $site-color01 !important;}}
        &.-c02{&::after{background: $site-color02 !important;}}
        &.-c03{&::after{background: $site-color03 !important;}}
        &.-c04{&::after{background: $site-color04 !important;}}
    }

    // コンテンツタイトル > 英語表記 > カラー設定
    &.-en-color01{&::before{color: $site-color01;}}
    &.-en-color02{&::before{color: $site-color02;}}
    &.-en-color03{&::before{color: $site-color03;}}
    &.-en-color04{&::before{color: $site-color04;}}

    // コンテンツタイトル > 英語表記
    &.-interview{&::before{content: "User Interview"; white-space: nowrap;}}// インタビュー
    &.-news     {&::before{content: "Information"; white-space: nowrap;}}   //お役立ち情報
    &.-contact  {&::before{content: "Contact"; white-space: nowrap;}}       //お役立ち情報
    &.-point    {&::before{content: "POINT"; white-space: nowrap;}}         //お役立ち情報

    // 画像
    .imgBox{
        width: 40%;
        margin: 0 auto;
        @include min(500){
            width: 20%;
            min-width: 160px;
            max-width: 220px;
        }
    }
}

// ロゴセクション > タイトル
.c-logo--title{
    text-align: center;
    margin: 0 auto;

    span{
        position: relative;
        display: inline-block;
        color: $site-color03;
        font-size: clamp(1.4rem, 2vw, 2.8rem);
        font-weight: bold;
        letter-spacing: 0.2rem;
        text-align: center;
        padding: 0 1px;

        &::before,
        &::after{
            content: "";
            position: absolute;
            top: 0;
            width: 1px;
            height: 18px;
            background: $site-color03;
            border-radius: 10px;
            @include min(768){
                height: 25px;
            }
            @include min(1200){
                height: 35px;
            }
        }
        &::before{
            left: -15px;
            transform: rotate(325deg);
            @include min(768){
                left: -25px;
            }
            @include min(1200){
                left: -30px;
            }
        }
        &::after{
            right: -10px;
            transform: rotate(35deg);
            @include min(768){
                right: -18px;
            }
            @include min(1200){
                right: -20px;
            }
        }
    }

}