.parallaxArea {
  position: relative;
  background-color: #f8f8f8;
  perspective: 1000px;

  .parallaxItem {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    will-change: transform;
    transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transform-style: preserve-3d;

    &.item01 {
      // background-color: rgba(104, 152, 208, 0.85);
      transform: translateZ(100px);
    }
    &.item02 {
      // background-color: rgba(114, 188, 201, 0.71);
      transform: translateZ(75px);
    }
    &.item03 {
      // background-color: rgba(#4cc5f9, 0.68);
      transform: translateZ(50px);
    }
    &.item04 {
      // background-color: rgba(#4cc5f9, 0.68);
      transform: translateZ(25px);
    }
  }

  .centerObj {
    position: absolute;
    z-index: 100;
    width: 80px;
    height: 80px;

    img {
      width: 100%;
    }
  }
}
