// ランニングページ
.p-lp{
    .c-contents{
        &--inner {// コンテンツ幅
            width: 85%;
            margin: auto;
            @include min(500) {width: 85%;}
            @include min(768) {width: 90%;}
            @include min(1600) {max-width: 1180px;}

            &.-bg-color01 {background: $site-color01;}
            &.-bg-color02 {background: $site-color02;}
            &.-bg-color03 {background: $site-color03;}
            &.-bg-white {background: $main-color--w;}
            &.-bg-gray {background: $main-color--gray;}
        
            &.-card {
                padding: 10% 2.5% 10%;
                border-radius: 10px;
                border: 1px solid $site-color03;
                box-shadow: 0px 0px 5px #8080802b;
                @include min(768) {
                    padding: 6% 2.5% 5%;
                }
            }
        }
        .-logoArea{
            &::before{
                background: linear-gradient(0.25turn, $main-color--w, 75%, rgba(0, 0, 0, 0));
            }
            &::after{
                background: linear-gradient(0.75turn, $main-color--w, 75%, rgba(0, 0, 0, 0));
            }
        }
    }
}
