// 詳細ページ

.p-single{
	background-size: 50px 15px;
	// 背景（線状 > 斜め）
	background-image: linear-gradient(
		-45deg,
		$main-color--Lgray,$main-color--Lgray 45%,
		white 45.5%, white 54.5%,
		$main-color--Lgray 55.5%, $main-color--Lgray
	);
	// 共通
	&--title{
		position: relative;
		margin-bottom: 10%;
		@include min(500){margin-bottom: 3%;}
		&::after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			border-bottom: 4px dotted $site-color03;

			position: absolute;
			bottom: 0;
			left: 0;
		}
		time{
			position: absolute;
			bottom: -20px;
			right: 0;
			font-size: 1rem;
			font-weight: bold;
			letter-spacing: .1rem;
			text-align: end;
			@include min(500){
				bottom: 10px;
				letter-spacing: .2rem;
			}
		}
		span{
			font-size: clamp(1rem, 2vw, 2rem);
			font-weight: bold;
			letter-spacing: .2rem;
		}
		h1{
			font-size: clamp(1.8rem, 2vw, 3.2rem);
			font-weight: bold;
			letter-spacing: .2rem;
			padding-bottom: 10px;
		}
	}
	&--category{// a
		color: $site-color03;
		font-size: clamp(.8rem, 1.2vw, 1rem);
		font-weight: bold;
		white-space: nowrap;
		padding: 3px 5px 4px;
		margin-right: 5px;
		background: $main-color--w;
		border: 1px solid $site-color03;
		border-radius: 3px;
		transition: all .5s;
		&:hover{
			color: $main-color--w;
			background: $site-color03;
		}

	}
	&--post{
		width: 100%;
		padding: 5% 5% 0;
		margin: 0 auto 10%;
		border: 1px solid $site-color03;
		border-radius: 5px;
		@include min(500){
			max-width: 500px;
			padding: 3% 5%;
			margin: 0 auto;
			margin-right: 0;
			margin-left: auto;
		}

		h5{
			font-size: 1.6rem;
			color: $main-color--Dgray;
			font-weight: bold;
			letter-spacing: .2rem;
			line-height: 1.5;
			padding-bottom: 5px;
		}
		p,a{
			font-size: 1.2rem;
			letter-spacing: .2rem;
			padding-bottom: 10px;
		}
		.postman{// この記事を書いた人
			display: inline-block;
			width: auto;
			font-weight: bold;
			color: $main-color--w;
			background: $main-color--Dgray;
			padding: 2% 3%;
			margin-bottom: 3%;
			border-radius: 3px;
			letter-spacing: .1rem;
			@include max(500){
				display: block;
				width: 61%;
				text-align: center;
			}
		}

		.-prof{// プロフィール画像
			.imgBox{
				width: 120px;
				height: 120px;
				border-radius: 50%;
				overflow: hidden;
				&.-dm{background: $main-color--gray;}
				@include max(500){
					width: 150px;
					height: 150px;
					margin: 0 auto;
				}
			}
		}
	}
	&--intro{

		margin-top: 10%;
		p,a,span{
			font-size: clamp(1.2rem, 1.5vw, 1.6rem);
			letter-spacing: .2rem;
			line-height: 2;
		}
		// 個別設定
		span{font-weight: bold;}
		a{
			position: relative;
			color: $site-color02;
			transition: all .3s;
			&::after{
				content: "";
				position: absolute;
				bottom: -5%;
				left: 0;
				width: 100%;
				height: 1px;
				border-bottom: 2px dotted $site-color02;
				transition: all .3s;
			}
			&:hover{
				opacity: .6;
				&::after{
					opacity: .6;
				}
			}
		}
	}

	// お客様の声
	&.-interview{
		.p-single{
			&--detail{
				p{
					font-size: clamp(1.2rem, 1.5vw, 1.6rem);
					letter-spacing: .2rem;
					line-height: 2;
					// margin-bottom: 1%;
					@include min(500){line-height: 2;}
				}
				.man{
					font-size: clamp(1.2rem, 1.5vw, 1.6rem);
					font-weight: bold;
					letter-spacing: .2rem;
					&.man01{color: $main-color--b;}
					&.man02{color: $main-color--red;}
				}
				.imgBox{
					width: 50%;
					height: auto;
					border-radius: 8px;
					overflow: hidden;
					@include min(500){
						width: 33%;
						min-width: 300px;
						max-width: 320px;
					}
					&.-right{
						float: right;
						margin-left: 2.5%;
					}
					&.-left{
						float: left;
						margin-right: 2.5%;
					}
					&.-w100s{
						@include max(500){
							width: 100%;
							margin-bottom: 5%;
						}
					}
				}
		
				.detail01,
				.detail02,
				.detail03,
				.detail04{
					margin-bottom: 10%;
					@include min(500){margin-bottom: 5%;}
					h2{
						margin-bottom: 3%;
						@include min(500){
							margin-bottom: 1%;
						}
						span{
							position: relative;
							display: table;
							font-size: clamp(1.6rem, 2vw, 3rem);
							font-weight: bold;
							letter-spacing: .2rem;
							padding-left: 7px;
							@include min(500){
								padding-left: 10px;
							}
							&::after{
								content: "";
								position: absolute;
								left: 0;
								top: 0;
								width: 3px;
								height: 100%;
								background: $site-color02;
								border-radius: 3px;
							}
						}
					}
				}
			}
			&--company{
				padding: 5%;
				border: 1px solid $site-color03;
				border-radius: 5px;
				@include min(500){
					width: 75%;
					max-width: 500px;
					padding: 2%;
					margin-right: 0;
					margin-left: auto;
				}
				.imgBox{
					width: 120px;
					height: 120px;
					border-radius: 50%;
					overflow: hidden;
					&.-dm{background: $main-color--gray;}
					@include max(500){
						margin: 0 auto;
					}
				}
				h5{
					font-size: 1.6rem;
					font-weight: bold;
					letter-spacing: .2rem;
					line-height: 1.5;
					padding-bottom: 10px;
				}
				p,a{
					font-size: clamp(1rem, 1.2vw, 1.2rem);
					letter-spacing: .2rem;
					padding-bottom: 10px;
				}
				a{
		
				}
			}
			&--post{
				border: 1px solid $main-color--Dgray;
			}
		}
	}

	// お役立ち情報
	&.-information{
		.p-single{
			&--title{
				margin-bottom: 10%;
				@include min(500){margin-bottom: 5%;}
				time{
					bottom: -20px;
					@include min(500){
						bottom: -25px;
					}
				}
			}
			&--detail{
				margin-top: 10%;

				// --- 共通 ---
				h2,h3,h4,h5,h6{
					font-weight: bold;
					letter-spacing: .2rem;
					line-height: 1.5;
				}
				p,a,span{
					font-size: clamp(1.2rem, 1.5vw, 1.6rem);
					letter-spacing: .2rem;
					line-height: 2;
				}
				// 個別設定
				p{
					margin-bottom: 7.5%;
					@include min(500){
						margin-bottom: 5%;
					}
				}
				span{font-weight: bold;}
				a{
					position: relative;
					color: $site-color02;
					transition: all .3s;
					&::after{
						content: "";
						position: absolute;
						bottom: -5%;
						left: 0;
						width: 100%;
						height: 1px;
						border-bottom: 2px dotted $site-color02;
						transition: all .3s;
					}
					&:hover{
						opacity: .6;
						&::after{
							opacity: .6;
						}
					}
				}
				h2{// 記事タイトル
					font-size: clamp(1.8rem, 2vw, 3rem);
					padding: 2% 3%;
					margin-bottom: 3%;
					background: $main-color--gray;
				}
				h3{// 中タイトル
					position: relative;
					font-size: clamp(1.6rem, 2vw, 2.4rem);
					padding: 2% 2%;
					margin-bottom: 3%;
					&::before{
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 3px;
						height: 65%;
						background: $site-color03;
						border-radius: 3px;
					}
				}
				h4{// 小タイトル
					position: relative;
					font-size: clamp(1.4rem, 2vw, 2rem);
					color: $site-color03;
					text-shadow: 2px 2px 0 $main-color--gray;
					padding: 1% 0;
					margin-bottom: 1%;
				}

				.imgBox{
					width: 100%;
					height: auto;
					border-radius: 8px;
					overflow: hidden;
					max-width: none;
					min-width: auto;
				}
				.c-thumbnail--mark{
					width: 33%;
				}
		
				.detail01,
				.detail02,
				.detail03,
				.detail04{
					margin-bottom: 10%;
					@include min(500){margin-bottom: 5%;}
					h4{
						margin-bottom: 3%;
						@include min(500){
							margin-bottom: 1%;
						}
						span{
							position: relative;
							display: table;
							font-size: clamp(1.6rem, 2vw, 3rem);
							font-weight: bold;
							letter-spacing: .2rem;
							padding-left: 7px;
							@include min(500){
								padding-left: 10px;
							}
							&::after{
								content: "";
								position: absolute;
								left: 0;
								top: 0;
								width: 3px;
								height: 100%;
								background: $site-color02;
								border-radius: 3px;
							}
						}
					}
				}
			}
			&--company{
				padding: 5%;
				border: 1px solid $site-color03;
				border-radius: 5px;
				@include min(500){
					width: 75%;
					max-width: 500px;
					padding: 2%;
					margin-right: 0;
					margin-left: auto;
				}
				.imgBox{
					width: 120px;
					height: 120px;
					border-radius: 50%;
					overflow: hidden;
					&.-dm{background: $main-color--gray;}
					@include max(500){
						margin: 0 auto;
					}
				}
				h5{
					font-size: 1.6rem;
					font-weight: bold;
					letter-spacing: .2rem;
					line-height: 1.5;
					padding-bottom: 10px;
				}
				p,a{
					font-size: clamp(1rem, 1.2vw, 1.2rem);
					letter-spacing: .2rem;
					padding-bottom: 10px;
				}
				a{
		
				}
			}
			&--articleArea{// 関連記事
				margin-top: 15%;

				h2{// 記事タイトル
					font-size: clamp(1.8rem, 2vw, 3rem);
					font-weight: bold;
					letter-spacing: .2rem;
					line-height: 1.5;
					padding: 2% 3%;
					margin-bottom: 3%;
					background: $main-color--gray;
					a,span{
						position: relative;
						display: inline-block;
						color: $site-color03;
						font-weight: bold;
						letter-spacing: .2rem;
						padding-right: 5px;
						&::after{
							content: "";
							position: absolute;
							bottom: -2px;
							left: 0;
							width: 100%;
							height: 1px;
							border-bottom: 3px dotted $site-color03;
						}
					}
				}
			}
		}
	}

}