// 全ページ

body{
	position: relative;
	animation: fadeAnime 3s forwards;
	@include min(768){animation: fadeAnime 2s forwards;}

	main{
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}

// 1. TOPページ
.p-top{
	position: relative;
	width: 100%;
	// background-size: 15px 15px;
	// 背景（線状 > 斜め）
	// background-image: linear-gradient(
	// 	-45deg,
	// 	$main-color--gray,$main-color--gray 45%,
	// 	white 45.5%, white 54.5%,
	// 	$main-color--gray 55.5%, $main-color--gray
	// ) ;
	background: $site-color01;
	animation: fadeAnime 2s forwards;

}
